@font-face {
  font-family: SimpleHandMade;
  src: url(SimpleHandmade.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: SimpleHandMade;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color:lightpink;
    min-height: 100vh; 
    margin: 1px;
    padding: 10px;
    
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .directions {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid black 2px;
  background-color: rgb(179, 219, 179);
  font-weight: bold;
  font-size: 28px;
} 

.game-container{
  padding: 20px 30px;
  /* position: relative; */
  margin: auto;
  height: 350px;
  width: 450px;
  display: contents;
  /* justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; */
}

h1{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

h2 {
  display: flex;
}


#word {
  font-size: 5vw;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-bottom: 20px; */
  flex-direction: row;
}

#letters button {
  font-family: SimpleHandMade;
  width: 45px;
  height: 45px;
  font-size: 18px;
  margin: 3px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#guesses {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #letters {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}

/* Set a max-width for the word container and use a responsive font size */

canvas {
  /* border: solid darkgrey 10px; */
  padding-bottom: 20px;
  /* margin-bottom: 20px; */
  max-width: 100%;
  max-height: 100%;
  background-color: lightpink;
  margin: 30px;
  border-radius: 10% / 50% ;
}

#result {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.hide {
  display: none;
}

#result-text h2 {
  font-size: 1.8em;
  text-align: center;
}

#result-text p {
  font-size: 1.25em;
  margin: 1em 0 2em 0;
}

#result-text span {
  font-weight: 600;
}

#startButton {
  background-color: lightgrey;
  font-family: SimpleHandMade;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px;
  color: grey;
}

#directionButton {
  padding: 10px;
  font-family: SimpleHandMade;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  color: grey;
}

#clue {
  display: flex;
  height: 50px;
  width: 50%;
  align-items: baseline;
  justify-content: center;
  padding-top: 20px;
}

#clueButton,
#hintButton {
  font-family: SimpleHandMade;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  color: grey;
}

#clueButton:hover,
#directionButton:hover,
#hintButton:hover,
#startButton:hover {
  background-color: lightgrey;
}