@font-face {
  font-family: SimpleHandMade;
  src: url(SimpleHandmade.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: SimpleHandMade;
}

body {
    background-image: url("beach-background.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color:lightpink;
    min-height: 100vh; 
    margin: 1px;
    padding: 10px;
    color: hotpink;
}

span {
  color: darkblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directions-container {
  margin: 30px auto;
  max-width: 640px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.directions {
  background-color:rgb(255 255 255 / 50%);
  border-radius: 25px;
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  line-height: 1.4;
}

.game-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 span {
  margin: 0 0 50px 0;
  font-size: 50px;
  color: hotpink;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

h1 {
  flex-direction: column;
  display: flex;
}

h2 {
  display: flex;
  font-size: 25px;
  color: darkblue;
}

#word {
  font-size: 57px;
  color: darkblue;
  margin: auto;
  display: flex;
  justify-content: center;
}

#letters {
  display: flex;
  color: darkblue;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

#letters button {
  font-family: SimpleHandMade;
  width: 40px;
  height: 40px;
  font-size: 17px;
  margin: 3px;
  border: 1px solid darkblue;
  border-radius: 5px;
  cursor: pointer;
}

#guesses {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: darkblue;
}

@media only screen and (max-width: 768px) {
  .directions {
    display: none;
  }
}

#directionButton {
  padding: 10px;
  font-family: SimpleHandMade;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  color: grey;
}

#startButton {
  margin: auto;
  margin-top: -15px;
  margin-bottom: 150px;
}

#clue {
  display: flex;
  gap: 20px;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
}

#buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#clueButton,
#hintButton,
#startButton,
#directionButton {
  font-family: SimpleHandMade;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  color: grey;
}


#clueButton:hover,
#startButton:hover,
#directionButton:hover,
#hintButton:hover {
  background-color: lightgrey;
}

#hangman-container {
  display: flex;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
  margin: auto;
}


img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: none;
}